<h1>TuneCore Search</h1>
<%= form_tag({controller: "tracks", action: "search"}, method: "get", remote: true) do %>
    <%= text_field_tag(:name, nil, placeholder: "Track Name") %>
    <%= text_field_tag(:album, nil, placeholder: "Album Name") %>
    <%= text_field_tag(:artist,nil, placeholder:  "Artist Name") %>
    <%= submit_tag("Search") %>
<% end %>
 <%= render partial: 'search_results', locals: { results: @results} %>
</div>